@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
nav > ul{
    display: flex;
    list-style: none;
    justify-content: center;   
}
nav>ul>li{
    margin: 10px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
.container{
    display: flex;
}
.container main{
    justify-content: center;
    text-align: center;
}

.userdetails{
    margin: auto;
    margin-left: 80px;
    margin-top: 100px;
    position: relative;
    background-color: rgb(224, 218, 223);
    border: 2px solid rgb(16, 72, 255);
    border-radius: 15px;
    width: 800px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.socia{
    position: relative;

}
.social>h2{
    cursor: pointer;
}

.social #github{
    background-color: black;
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 330px;
    margin-top: 230px;
    text-align: center;

}
.social #fb{
    background-color: rgb(10, 18, 243);
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 330px;
    margin-top: 30px;
    text-align: center;

}
.social #tg{
    background-color: rgb(19, 159, 162);
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 330px;
    margin-top: 30px;
    text-align: center;

}

.social #insta{
    background-color: rgb(225, 12, 207);
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 80px;
    margin-top: 230px;
    text-align: center;

}
.social #whatsapp{
    background-color: rgb(29, 181, 44);
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 80px;
    margin-top: 30px;
    text-align: center;

}
.social #call{
    background-color: rgb(177, 21, 21);
    color: white;
    width: 120px;
    border-radius: 6px;
    padding: 2px;
    margin-left: 80px;
    margin-top: 30px;
    text-align: center;

}

.logo img{
    height: 130px;
    width: 135px;
    border-radius: 50%;
    margin-top: 5px;
}

.cv a{
    
    text-decoration: none;
    
    
}
.cv{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    margin-top: 7px;
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
    width: 130px;
    
}
/* .cvyt{
    display: flex;
} */
